# PDFs
_BD2_PY01_Restaurantes.pdf

# Dev-Markdowns
Plan.md
Especification.md
backen_design.md
actual_status.md
.github/LOCAL_TESTING.md
.github/PIPELINE.md
docs

# Node
node_modules/
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Runtime
pids/
*.pid
*.seed
*.pid.lock

# Dependency caches
.npm/
.pnpm-store/
.yarn/

# Tooling caches
.cache/
.eslintcache
.nyc_output/

# Env files
.env
.env.*
.env.example

# Local overrides
*.local

# Coverage and build
coverage/
**/coverage/
dist/
build/
tmp/
temp/
docker-compose.test.yml
services/api/jest.config.js
services/api/tests
services/search/jest.config.js
services/search/tests

# Prisma / DB local files
*.db
*.db-journal

# IDE
.vscode/
.idea/
*.iml

# Test reports
junit.xml
test-results/

# OS
.DS_Store
Thumbs.db
Desktop.ini